doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title || 'Document'}
    each style in styles
      link(rel="stylesheet" href=style)
  body
    each script in scripts
      script(src=script)